<ul class="dinos">

    <% dinosaurs.forEach(dino => { %>

        <li class="<% dino.isHerbivore ? "green" : "red" %>">
        <a href="/dinosaurs/<%= dino.slug%>"><%- dino.name %></a>
        
        <img src="/assets/images/<%- dino.image%>"><% dino.image %></img>
        </li >
    <% }); %>

    </ul>
