<h1>    404 - Page not found
    <style>
        body {

            background-color: #1ec210;
        }
        h1 {
            color: rgb(62, 34, 187);
            font-size: 160px;
            text-align: center;
            margin-top: 200px;
        }
    </style>
</h1>